# === Python ===
__pycache__/
*.py[cod]
*$py.class


# Виртуальные окружения
.venv/
venv/

# Временные папки для обработки
all_txt_test/
all_txt_test_2/
all_txt_test_3/
back/
migration/
qdrant_storage/
.claude/
doc/

# Пакеты/сборки
build/
dist/
*.egg-info/


# IDE/редакторы
.vscode/
.idea/


# Логи/кэши
*.log
.cache/


# Тест‑артефакты
.coverage
htmlcov/
.pytest_cache/


# Конфиги с секретами
.env
.env.*
*.secret
*.db
*.md

# Telegram сессии
*.session
*.session-journal
*.service